{
  "extends": ["react-app"],
  "rules": {
    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "groups": ["builtin", "external", "internal"],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before"
          },
          {
            "pattern": "react-dom",
            "group": "external",
            "position": "before"
          },
          {
            "pattern": "components/**",
            "group": "internal"
          },
          {
            "pattern": "configs",
            "group": "internal"
          },
          {
            "pattern": "configs/**",
            "group": "internal"
          },
          {
            "pattern": "lib/**",
            "group": "internal"
          },
          {
            "pattern": "styles/**",
            "group": "internal"
          },
          {
            "pattern": "hooks/**",
            "group": "internal"
          }
        ],
        "pathGroupsExcludedImportTypes": [],
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ]
  }
}
