.metro-pushable {
  @apply transition-all border-2 inline-flex flex-col rounded;
  /* @apply transition-all inline-flex items-end flex-col; */
}

/* Inner */
.metro-pushable-inner {
  @apply rounded bg-white;
}

/* Size */
.metro-pushable-size-default .metro-pushable-content {
  @apply px-3 py-1.5 text-sm;
}
.metro-pushable-size-sm .metro-pushable-content {
  @apply px-2 py-0.5 text-xs;
}

/* Color */
.metro-pushable-color-default {
  @apply bg-blue-400 border-blue-400 text-blue-400;
}
.metro-pushable:hover.metro-pushable-color-default,
.metro-pushable-active.metro-pushable-color-default {
  @apply bg-blue-600 border-blue-600 text-blue-600;
}

.metro-pushable-color-gray {
  @apply bg-gray-300 border-gray-300 text-gray-300;
}
.metro-pushable:hover.metro-pushable-color-gray,
.metro-pushable-active.metro-pushable-color-gray {
  @apply bg-gray-400 border-gray-400 text-gray-400;
}

.metro-pushable-color-red {
  @apply bg-red-400 border-red-400 text-red-400;
}
.metro-pushable:hover.metro-pushable-color-red,
.metro-pushable-active.metro-pushable-color-red {
  @apply bg-red-600 border-red-600 text-red-600;
}

.metro-pushable-color-pink {
  @apply bg-pink-400 border-pink-400 text-pink-400;
}
.metro-pushable:hover.metro-pushable-color-pink,
.metro-pushable-active.metro-pushable-color-pink {
  @apply bg-pink-600 border-pink-600 text-pink-600;
}

/* Content */
.metro-pushable-content {
  @apply rounded bg-white;
}

/* Bottom */
.metro-pushable-not-pushed .metro-pushable-bottom {
  @apply transition-all;
  height: 6px;
  min-height: 6px;
  width: 100%;
}
.metro-pushable-not-pushed:hover .metro-pushable-bottom,
.metro-pushable-not-pushed.metro-pushable-active .metro-pushable-bottom {
  height: 2px;
  min-height: 2px;
}
.metro-pushable-pushed .metro-pushabled-bottom {
  height: 0px;
  min-height: 0px;
  max-height: 0px;
}
